@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url(./font/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
}

.Home {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LinkContainer {
  width: 23vw;
  margin-left: 25rem;

  font-size: 10em;
  font-family: 'Source Sans Pro Bold';
}

.hello {
  color: #8600b3;
}

.hidLink {
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.showLink {
  transition-duration: 200ms;
  transition-timing-function: ease;
  padding-left: 3rem;
}

