@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url(./font/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: 'Source Sans Pro Normal';
  src: url(./font/Source_Sans_Pro/SourceSansPro-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
}

.Home {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;

}

.avatar {
  border-radius: 50%;
  background-color: #8600b3;
  width: 27vw;
  height: 27vw;

  margin-right: 15vw;
  margin-left: auto;
}

.LinkContainer {
  width: fit-content;
  margin-left: 25rem;
  font-size: 10em;
  font-family: 'Source Sans Pro Bold';

  height: 65vh;
}

.motion-container {
  overflow: hidden;
}

.HoverLink {
  text-decoration: none;
  color: inherit;
}

.HoverLinkText {
  transition-duration: 200ms;
  transition-timing-function: ease;

  text-decoration: none;
}

.HoverLinkText:hover {
  padding-left: 3rem;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.About, 
.Contact,
.Work {
  width: 100vw;
  min-height: 100vh;

  font-size: 3em;
  font-family: 'Source Sans Pro Bold';

  display: flex;
  flex-direction: column;

  padding-bottom: 25vh;
}


.home-link {
  position: fixed;
  font-size: .7em;

  top: 10vh;
  right: 7vw;

  transition-duration: 200ms;
  transition-timing-function: ease;
}

.home-link:hover {
  transition-duration: 200ms;
  transition-timing-function: ease;
  padding-right: 1rem;
}


.purple-text {
  color: #8600b3;
}

.about-header,
.contact-header {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 2em;
  padding-left: 12vw;
  box-sizing: border-box;
}

.about-header {
  padding-top: 38vh;
}

.contact-header {
  padding-top: 32vh;
}

.about-header p,
.contact-header p {
  margin: 0;
  padding: 0;
}

.about-skills {
  width: 85vw;

  border-width: 2px 0 2px 2px;
  border-color: black;
  border-style: solid;
  border-radius: 15px 0 0 15px;
  
  margin-left: auto;
  margin-bottom: 15vh;

  padding: 2rem 0 4rem 2rem;
  box-sizing: border-box;

  font-size: .6em;
  font-family: 'Source Sans Pro Normal';

  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.about-skills h1 {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro Bold';
  font-weight: normal;
  font-size: 2em;
}

.about-skills h2 {
  font-size: 1.1em;
  margin: 0 0 .3em 0;
  padding: 0;
}

.about-main,
.contact-main {
  width: 50vw;
  font-size: .6em;
  font-family: 'Source Sans Pro Normal';
  margin: auto;
}

.about-main h1,
.contact-main h1 {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro Bold';
  font-weight: normal;
  font-size: 2em;
}

.skills-container {
  display: flex;
  gap: 3rem;
}

.skill-container {
  height: 14vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skill-container h3{
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.skill-icon {
  max-height: 3em;
}

.project-links {
  display: flex;
  flex-direction: column;
  padding-left: 12vw;
  padding-top: 8vh;
  gap: 5rem;
}

.ProjectLink {
  display: flex;
  flex-direction: column;
  gap: .2em;
}

.ProjectLink * {
  margin: 0;
  padding: 0;
}

.ProjectLink a {
  text-decoration: none;
  font-size: .8em;

  font-family: 'Source Sans Pro Normal';
  width: fit-content;
}

.project-illustration {
  width:  65vw;
  height: 50vh;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}

.project-illustration img {
  height: 100%;
}

.unstyle-button {
  font-size: 1em;
  background-color: inherit;
  color: inherit;
  border: none;
  font-family: inherit;
}

@media only screen and (max-width: 1400px) {
  .LinkContainer {
    font-size: 8em;
    margin-left: 20vw;
    height: 61vh;
  }
}
